* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(315deg, #0066ff, #00ffcc);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  width: 95%;
  height: 40px;
  font-size: 1.2em;
  cursor: pointer;
  background: #66ffcc;
  outline: none;
  color: black;
  margin: 0.2em 0;
  padding: 0 1em;
  border-radius: 10px;
  border: none;
}

input {
  width: 95%;
  height: 40px;
  font-size: 1em;
  margin: 0.2em 0;
  border-radius: 10px;
  border: none;
  background: #cccccc;
  outline: none;
  padding: 0 1em;
}
